#LUCAS

streamlit
requests
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
twilio
cryptography
dotenv

###Santi

langgraph
langchain
langchain-core
langchain-community
langchain-groq
langgraph-sdk
requests
pydantic
python-dotenv