#LUCAS

streamlit
requests
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
twilio
cryptography
python-dotenv

###Santi - Solo dependencias esenciales para Groq (sin conflictos)

langchain-groq
langchain-core
langchain
python-dotenv
langgraph

uvicorn[standard]
fastapi